@use 'variable' as var;
@use 'mixin';

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: var.$navy;
  height: 100px;
  width: 400px;
  position: relative;

  .whitebox {
    background-color: var.$white;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    @include mixin.flex-center;
    gap: 10px;

    @include mixin.header-colorbox-classes(var.$classNames, var.$buttonColor);

    @each $color, $index in var.$buttonColor {
      .colorbox-#{$index} {
        height: 40px;
        width: 40px;
        background-color: $color;
        margin: 10px;
      }
    }
  }
}

.layout {
  display: flex;
  position: absolute;
  top: 100px;
  width: 400px;

  .sidebar {
    background-color: var.$green;
    height: 250px;
    width: 150px;
    margin: 0;
  }

  .main {
    position: relative;
    height: 250px;
    width: 250px;
    background-color: var.$red;

    @include mixin.main-colorbox-classes(var.$classNames, var.$buttonColor);
  }
}

footer {
  background-color: var.$brown;
  height: 100px;
  width: 400px;
  position: absolute;
  top: 350px;
}
